# Handling Imbalanced Dataset

If you have a dataset and u are solving Classification problem i.e o/p is catagories (Binary Classification) -> YES/NO

consider 1000 datapoints out of which 900 Yes and 100 No the ratio is 9:1 if a model is build over this imbalanced data set it may be biased towards YES. So to deal with such problem we have 2 techniques

### 1. Up Sampling
### 2. Down Sampling

In [1]:
import numpy as np 
import pandas as pd

# Set the random seed for reproducibility
np.random.seed(123)

# Create a dataframe with two classes
n_samples = 1000
class_0_ratio = 0.9
n_class_0 = int(n_samples * class_0_ratio)  #900 data points
n_class_1 = n_samples - n_class_0           #100 data points

In [2]:
n_class_0,n_class_1

(900, 100)

In [7]:
## CREATE MY DATAFRAME WITH IMBALANCED DATASET
n_samples = 1000
class_0_ratio = 0.9
n_class_0 = int(n_samples * class_0_ratio)
n_class_1 = n_samples - n_class_0

class_0 = pd.DataFrame({
    'feature_1': np.random.normal(loc=0, scale=1, size=n_class_0),
    'feature_2': np.random.normal(loc=0, scale=1, size=n_class_0),
    'target': [0] * n_class_0
})

class_1 = pd.DataFrame({
    'feature_1': np.random.normal(loc=2, scale=1, size=n_class_1),
    'feature_2': np.random.normal(loc=2, scale=1, size=n_class_1),
    'target': [1] * n_class_1
})

In [8]:
df = pd.concat([class_0,class_1]).reset_index(drop=True)

In [9]:
df.head()

   feature_1  feature_2  target
0  -1.774224   0.285744       0
1  -1.201377   0.333279       0
2   1.096257   0.531807       0
3   0.861037  -0.354766       0
4  -1.520367  -1.120815       0

In [10]:
df['target'].value_counts()

0    900
1    100
Name: target, dtype: int64

In [11]:
## upsampling
df_minority=df[df['target']==1]
df_majority=df[df['target']==0]

In [12]:
from sklearn.utils import resample
df_minority_upsampled=resample(df_minority,replace=True, #Sample With replacement
         n_samples=len(df_majority),
         random_state=42
        )

In [13]:
df_minority_upsampled.shape

(900, 3)

In [14]:
df_minority_upsampled.head()

     feature_1  feature_2  target
951   2.905343   1.495151       1
992   2.000977   1.814833       1
914   1.927957   2.280911       1
971   2.819483   2.964646       1
960   2.456515   1.833528       1

In [15]:
df_upsampled=pd.concat([df_majority,df_minority_upsampled])

In [16]:
df_upsampled['target'].value_counts()

0    900
1    900
Name: target, dtype: int64